<div class="main-content">
  <div class="row">
    <div class="col-12">
      <h2 class="page-title">Prikaz događaja</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-title">
          <h3>Događaji</h3>
        </div>
        <div class="card-content">
          <div class="card-options block">
            <div class="container-fluid">
              <div class="card-select">
                <label class="card-label">Pogon</label>
                <select>
                  <option value="Akumulacija Kruščica">
                    Pogon 1
                  </option>
                  <option value="Akumulacija Peruća">Pogon 2</option>
                  <option value="Akumulacija Dubrovnik">Pogon 3</option>
                </select>
              </div>
              <div class="card-select">
                <label class="card-label">Cjelina</label>
                <select>
                  <option value="Akumulacija Kruščica">
                    Cjelina 1
                  </option>
                  <option value="Akumulacija Peruća">Cjelina 2</option>
                  <option value="Akumulacija Dubrovnik">Cjelina 3</option>
                </select>
              </div>
              <div class="card-checkbox">
                <mat-checkbox>Alarm</mat-checkbox>
                <mat-checkbox>Kvar</mat-checkbox>
              </div>
            </div>
            <div class="container-fluid">
              <div class="card-datetime">
                <label class="card-label">Od</label>
                <mat-form-field class="card-datepicker" appearance="none">
                  <input matInput (dateChange)="selectMonth($event)" [matDatepicker]="pickerFrom" />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="pickerFrom"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #pickerFrom></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="card-datetime">
                <label class="card-label">Do</label>
                <mat-form-field class="card-datepicker" appearance="none">
                  <input matInput (dateChange)="selectMonth($event)" [matDatepicker]="pickerTo" />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="pickerTo"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #pickerTo></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="card-range-picker">
                <ejs-rangenavigator (changed)='rangeUpdate($event)' #range id="range" intervalType='Hours' class="card-range" valueType='DateTime' [value]='' [dataSource]='' xName='' yName=''></ejs-rangenavigator>
              </div>
            </div>
          </div>
          <ag-grid-angular
            class="card-table ag-theme-alpine pagination"
            [modules]="modules"
            [rowData]="vrijednosti"
            [columnDefs]="lokacije"
            [pagination]="true"
            (gridReady)="onGridReady($event)">
          </ag-grid-angular>
        </div>
        <div class="card-footer table pagination">
          <app-preuzimanje></app-preuzimanje>
        </div>
      </div>
    </div>
  </div>
</div>
