<div class="card-options">
  <div class="card-datetime">
    <mat-form-field class="card-datepicker" appearance="none">
      <input matInput (dateChange)="selectMonth($event)" [matDatepicker]="pickerFrom" />
      <mat-datepicker-toggle
        matSuffix
        [for]="pickerFrom"
      ></mat-datepicker-toggle>
      <mat-datepicker #pickerFrom></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="card-datetime">
    <mat-form-field class="card-datepicker" appearance="none">
      <input matInput (dateChange)="selectMonth($event)" [matDatepicker]="pickerTo" />
      <mat-datepicker-toggle
        matSuffix
        [for]="pickerTo"
      ></mat-datepicker-toggle>
      <mat-datepicker #pickerTo></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="card-range-picker">
    <ejs-rangenavigator (changed)='rangeUpdate($event)' #range id="range" intervalType='Hours' class="card-range" valueType='DateTime' [value]='value' [dataSource]='chartData' xName='vrijeme' yName='razina'></ejs-rangenavigator>
  </div>
</div>
