<div class="main-content">
  <div class="row">
    <div class="col-12">
      <h2 class="page-title">Hidrologija</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <mat-tab-group>
          <mat-tab label="Hidrološke postaje">
              <div class="card-content">
                <ag-grid-angular
                  class="card-table ag-theme-alpine pagination"
                  [modules]="modules"
                  [rowData]="vrijednosti"
                  [columnDefs]="lokacije"
                  [pagination]="true"
                  (gridReady)="onGridReady($event)">
                </ag-grid-angular>
              </div>
              <div class="card-footer table pagination">
                <app-download></app-download>
              </div>
          </mat-tab>
          <mat-tab label="Piezometarske postaje">
              <div class="card-content">
                <ag-grid-angular
                  class="card-table ag-theme-alpine pagination"
                  [modules]="modules"
                  [rowData]="vrijednosti"
                  [columnDefs]="lokacije"
                  [pagination]="true"
                  (gridReady)="onGridReady($event)">
                </ag-grid-angular>
              </div>
              <div class="card-footer table pagination">
                <app-download></app-download>
              </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
