<nav class="navigation">
  <ul>
    <li> <a [routerLinkActive]="['active']" [routerLink]="'/prikaz-akumulacija'">Prikaz akumulacija</a></li>
    <li> <a [routerLink]="'/meteoroloske-postaje'">Meteorološke postaje</a></li>
    <li> <a [routerLink]="'/obracunska-mjerenja'">Obračunska mjerenja</a></li>
    <li> <a [routerLink]="'/piezometarske-postaje'">Piezometarske postaje</a></li>
    <li> <a [routerLink]="'/proizvodnja-pogoni'">Proizvodnja po pogonima</a></li>
    <li> <a [routerLink]="'/radna-jalova-snaga'">Radna i jalova snaga</a></li>
    <li> <a [routerLink]="'/vozni-redovi'">Vozni redovi</a></li>
    <li> <a [routerLink]="'/hidroloske-postaje'">Hidrološke postaje</a></li>
    <li> <a [routerLink]="'/hidrologija'">Hidrologija</a></li>
    <li> <a [routerLink]="'/dogadjaji'">Događaji</a></li>
    <li> <a [routerLink]="'/bilanca-proizvodnje'">Bilanca proizvodnje</a></li>
  </ul>
</nav>

