<div class="main-content">
  <div class="row">
    <div class="col-12">
      <h2 class="page-title">Prikaz meteoroloških postaja</h2>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <div class="card-title">
        <h3>Meteorološke postaje</h3>
      </div>
      <div class="card-options block">
        <div class="container-fluid">
        <div class="card-select">
          <label class="card-label">Sliv</label>
          <select>
            <option value="Akumulacija Kruščica">
              Sliv 1
            </option>
            <option value="Akumulacija Peruća">Sliv 2</option>
            <option value="Akumulacija Dubrovnik">Sliv 3</option>
          </select>
        </div>
        <div class="card-select">
          <label class="card-label">Postaja</label>
          <select>
            <option value="Akumulacija Kruščica">
              Postaja 1
            </option>
            <option value="Akumulacija Peruća">Postaja 2</option>
            <option value="Akumulacija Dubrovnik">Postaja 3</option>
          </select>
        </div>
        <div class="card-datetime">
          <label class="card-label">Od</label>
          <mat-form-field class="card-datepicker" appearance="none">
            <input matInput (dateChange)="selectMonth($event)" [matDatepicker]="pickerFrom" />
            <mat-datepicker-toggle
              matSuffix
              [for]="pickerFrom"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerFrom></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="card-datetime">
          <label class="card-label">Do</label>
          <mat-form-field class="card-datepicker" appearance="none">
            <input matInput (dateChange)="selectMonth($event)" [matDatepicker]="pickerTo" />
            <mat-datepicker-toggle
              matSuffix
              [for]="pickerTo"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerTo></mat-datepicker>
          </mat-form-field>
        </div>
        </div>
        <div class="container-fluid">
        <div class="card-checkbox">
          <label class="card-label">Odaberite period</label>
          <mat-checkbox>Danas</mat-checkbox>
          <mat-checkbox>24 sata</mat-checkbox>
          <mat-checkbox>7 dana</mat-checkbox>
          <mat-checkbox>30 dana</mat-checkbox>
        </div>
        </div>
      </div>
      <div class="row card-inside">
        <div class="col-12 col-lg-6 card">
          <div class="card-title">
            <h3>Temperatura [°C]</h3>
          </div>
          <div class="card-content">
            <ag-charts-angular
            [options]="optionsTemperatura"
          ></ag-charts-angular>
          </div>
          <div class="card-footer">
            <app-preuzimanje></app-preuzimanje>
          </div>
        </div>
        <div class="col-12 col-lg-6 card">
          <div class="card-title">
            <h3>Količina padalina [mm]</h3>
          </div>
          <div class="card-content">
            <ag-charts-angular
            [options]="optionsKolicinaPadalina"
          ></ag-charts-angular>
          </div>
          <div class="card-footer">
            <app-preuzimanje></app-preuzimanje>
          </div>
        </div>
      </div>
      <div class="row card-inside">
        <div class="col-12 col-lg-6 card">
          <div class="card-title">
            <h3>Intenzitet padalina</h3>
          </div>
          <div class="card-content">
            <ag-charts-angular
            [options]="optionsIntenzitetPadalina"
          ></ag-charts-angular>
          </div>
          <div class="card-footer">
            <app-preuzimanje></app-preuzimanje>
          </div>
        </div>
        <div class="col-12 col-lg-6 card">
          <div class="card-title">
            <h3>Relativna vlažnost [%]</h3>
          </div>
          <div class="card-content">
            <ag-charts-angular
            [options]="optionsRelativnaVlaznost"
          ></ag-charts-angular>
          </div>
          <div class="card-footer">
            <app-preuzimanje></app-preuzimanje>
          </div>
        </div>
      </div>
      <div class="row card-inside">
        <div class="col-12 col-lg-6 card">
          <div class="card-title">
            <h3>Tlak zraka [hPa]</h3>
          </div>
          <div class="card-content">
            <ag-charts-angular
            [options]="optionsTlakZraka"
          ></ag-charts-angular>
          </div>
          <div class="card-footer">
            <app-preuzimanje></app-preuzimanje>
          </div>
        </div>
        <div class="col-12 col-lg-6 card">
          <div class="card-title">
            <h3>Brzina vjetra [m/s] i smjer</h3>
          </div>
          <div class="card-content">
            <ag-charts-angular
            [options]="optionsBrzinaVjetraSmjer"
          ></ag-charts-angular>
          </div>
          <div class="card-footer">
            <app-preuzimanje></app-preuzimanje>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
