<div class="main-content">
  <div class="row">
    <div class="col-12">
      <h2 class="page-title">Prikaz meteoroloških postaja</h2>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <div class="card-title">
        <h3>Meteorološke postaje</h3>
      </div>
      <div class="row card-inside">
        <div class="col-6 card">
          <div class="card-title">
            <h3>Temperatura [°C]</h3>
          </div>
          <div class="card-content">
            <ag-charts-angular
            [options]="optionsTemperatura"
          ></ag-charts-angular>
          </div>
          <div class="card-footer">
            <app-preuzimanje></app-preuzimanje>
          </div>
        </div>
        <div class="col-6 card">
          <div class="card-title">
            <h3>Količina padalina [mm]</h3>
          </div>
          <div class="card-content">
            <ag-charts-angular
            [options]="optionsKolicinaPadalina"
          ></ag-charts-angular>
          </div>
          <div class="card-footer">
            <app-preuzimanje></app-preuzimanje>
          </div>
        </div>
      </div>
      <div class="row card-inside">
        <div class="col-6 card">
          <div class="card-title">
            <h3>Intenzitet padalina</h3>
          </div>
          <div class="card-content">
            <ag-charts-angular
            [options]="optionsIntenzitetPadalina"
          ></ag-charts-angular>
          </div>
          <div class="card-footer">
            <app-preuzimanje></app-preuzimanje>
          </div>
        </div>
        <div class="col-6 card">
          <div class="card-title">
            <h3>Relativna vlažnost [%]</h3>
          </div>
          <div class="card-content">
            <ag-charts-angular
            [options]="optionsRelativnaVlaznost"
          ></ag-charts-angular>
          </div>
          <div class="card-footer">
            <app-preuzimanje></app-preuzimanje>
          </div>
        </div>
      </div>
      <div class="row card-inside">
        <div class="col-6 card">
          <div class="card-title">
            <h3>Tlak zraka [hPa]</h3>
          </div>
          <div class="card-content">
            <ag-charts-angular
            [options]="optionsTlakZraka"
          ></ag-charts-angular>
          </div>
          <div class="card-footer">
            <app-preuzimanje></app-preuzimanje>
          </div>
        </div>
        <div class="col-6 card">
          <div class="card-title">
            <h3>Brzina vjetra [m/s] i smjer</h3>
          </div>
          <div class="card-content">
            <ag-charts-angular
            [options]="optionsBrzinaVjetraSmjer"
          ></ag-charts-angular>
          </div>
          <div class="card-footer">
            <app-preuzimanje></app-preuzimanje>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
