<div class="main-content">
  <div class="row">
    <div class="col-12">
      <h2 class="page-title">Vozni redovi</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-title">
          <h3>Bilanca [MWh]</h3>
        </div>
        <div class="card-content">
          <ag-grid-angular
            class="card-table ag-theme-alpine pagination"
            [modules]="modules"
            [rowData]="vrijednosti"
            [columnDefs]="polja"
            [pagination]="true"
            (gridReady)="onGridReady($event)">
          </ag-grid-angular>
        </div>
        <div class="card-footer table pagination">
          <app-preuzimanje></app-preuzimanje>
        </div>
      </div>
    </div>
  </div>
</div>
