<div class="main-content">
  <div class="row">
    <div class="col-12">
      <h2 class="page-title">Prikaz piezometarskih postaja</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-title">
          <h3>Piezometri</h3>
        </div>
        <div class="card-options block">
          <div class="container-fluid">
            <div class="card-select">
              <select>
                <option value="Akumulacija Kruščica">
                  Sliv 1
                </option>
                <option value="Akumulacija Peruća">Sliv 2</option>
                <option value="Akumulacija Dubrovnik">Sliv 3</option>
              </select>
            </div>
            <div class="card-select">
              <select>
                <option value="Akumulacija Kruščica">
                  Postaja 1
                </option>
                <option value="Akumulacija Peruća">Postaja 2</option>
                <option value="Akumulacija Dubrovnik">Postaja 3</option>
              </select>
            </div>
            <div class="card-select">
              <select>
                <option value="Akumulacija Kruščica">
                  Parametar 1
                </option>
                <option value="Akumulacija Peruća">Parametar 2</option>
                <option value="Akumulacija Dubrovnik">Parametar 3</option>
              </select>
            </div>
          </div>
          <div class="container-fluid">
            <div class="card-datetime">
              <mat-form-field class="card-datepicker" appearance="none">
                <input matInput (dateChange)="selectMonth($event)" [matDatepicker]="pickerFrom" />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="pickerFrom"
                ></mat-datepicker-toggle>
                <mat-datepicker #pickerFrom></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="card-datetime">
              <mat-form-field class="card-datepicker" appearance="none">
                <input matInput (dateChange)="selectMonth($event)" [matDatepicker]="pickerTo" />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="pickerTo"
                ></mat-datepicker-toggle>
                <mat-datepicker #pickerTo></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="card-range-picker">
              <ejs-rangenavigator (changed)='rangeUpdate($event)' #range id="range" intervalType='Hours' class="card-range" valueType='DateTime' [value]='' [dataSource]='' xName='' yName=''></ejs-rangenavigator>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-title">
            <h3>Razina [m.n.m.]</h3>
          </div>
          <div class="card-content">
            <ag-charts-angular
            [options]="optionsRazina"
          ></ag-charts-angular>
          </div>
          <div class="card-footer">
            <app-preuzimanje></app-preuzimanje>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
